body {
    margin: 0;
    line-height: 1.6;
    font-family: 'Ubuntu', sans-serif;
    color: #707070
}

img {
  width: 100%;
  display: block;
}

.image-full {
  object-fit: cover;

  max-height: 275px;
  margin-bottom: 0.5em;
}

/* =================
Typography
================= */

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
    margin: 0;
    line-height: 1.2;
}

strong {
  font-weight: 700;
}

a {
  color: #1792d2;
}

a:hover,
a:focus {
  color: #143774;
  text-decoration: underline;
}

/* Logo subtitle */
.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1.55px;
}

.article-featured .article-title {
  margin-bottom: 1em;
}

.article-title {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #143774;
  font-size: 1.25rem;
  margin: 0;
}

.about-me-title {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #143774;
  font-size: 1.75rem;
  margin-top: 0;
}

.article-read-more {
  text-decoration: none;
  font-weight: bold;
  color: #1792d2;
  font-size: 0.875rem;
  letter-spacing: 1.25px;
}

.article-info {
  margin-bottom: 2em;
}

.widget-title {
  color: #143774;
  font-size: 1rem;
  text-decoration: none;
}

.widget-title:hover,
.widget-title:focus {
  color: #1792d2;
}

.widget-recent-post-title {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #143774;
  font-size: 1rem;
  line-height: 1;
}

/* =================
Layout
================= */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
    text-align: center;
}

main {
  margin-top: 2em;
}

aside {
  margin: 2em 0;
}

@media (min-width: 675px) {
  .container-flex {
    flex-direction: row;
  }

  main {
    width: 70%;
    margin: 2em 2em 3em 0;
  }

  aside {
    width: 25%;
    min-width: 185px;
  }
}

footer {
    background: #143774;
    padding: 2em 0;
    color: #ebebeb;
    text-align: center;
    font-size: 0.875rem;
}

.footer-text {
  margin: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
}

/* articles */

.article-featured {
  padding-bottom: 2em;
  margin-bottom: 3em;
  border-bottom: 0.875px solid #717171;
  display: flex;
  flex-direction: column;
}

.article-recent {
  margin-bottom: 2.5em 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* border: 2px solid magenta; */
}

.article-image {
  order: -2;
}

.article-info {
  order: -1;
}

.article-recent-main {
  order: 2;
  margin-bottom: 2em;
}

.article-recent-secondary {
  order: 1;
}

.article-read-more {
}

@media (min-width: 675px) {
  .article-featured .article-title {
    margin: 0;
  }

  .article-image {
    order: -2;
    height: 200px;
    object-fit: cover;
  }

  .position-left {
    object-position: left;
  }

  .article-info {
    order: -1;
  }

  .article-recent {
    flex-direction: row;
    margin: 0;
  }

  .article-recent-main {
    width: 68%;
  }

  .article-recent-secondary {
    width: 30%;
  }
}

/* sidebar / widgets */

.sidebar-widget {
  margin-bottom: 2em;
  padding: 0 1em;
  border: 15px solid #ebebeb;
}

.widget-recent-post {
  border-bottom: 0.875px solid #717171;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
}

.widget-recent-post:last-child {
  border: 0;
  margin: 0;
}

.widget-recent-post-title {
  padding-bottom: 0.5em;
}

.widget-image {
  order: -1;
}

/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 0.75em;
    text-transform: uppercase;
    /* letter-spacing: 0.5px; */
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
    text-decoration: none;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

@media (max-width: 450px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: .5em 0;
    }
}
